doctype html
html(lang="en")
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Chart Example
		link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css', rel='stylesheet')
	body
		h1 Nasdaq Real time chart
		p this chart is periodically updated every minute.

		div(style={marginLeft: '20px'})
			canvas#nasdaqChart(width="1200", height="600")
		
		script(src='/socket.io/socket.io.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')
		script.
			(function() {
				var ctx = document.getElementById("nasdaqChart").getContext('2d');
				var buyerData = {
					labels : ["January","February","March","April","May","June"],
					datasets : [
						{
							fillColor : "rgba(172,194,132,0.4)",
							strokeColor : "#ACC26D",
							pointColor : "#fff",
							pointStrokeColor : "#9DB86D",
							data : [203,156,99,251,305,247]
						}
					]
				}
				new Chart(ctx).Line(buyerData);


			})();
