doctype html
html(lang="en")
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Chart Example
		link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css', rel='stylesheet')
	body
		div.container
			div.row
				div.col-lg-12
					h1 Nasdaq Real time chart
					p This chart is periodically updated every minute.
					canvas#nasdaqChart(width="1200", height="600")
		
		script(src='/socket.io/socket.io.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')
		script.
			(function() {
				var ctx = document.getElementById("nasdaqChart").getContext('2d');
				
				var chart = null;

				var socket = io();
				socket.on('nasdaq:chart', function (result) {
					if (chart != null) {
						chart.destroy();
					}
					chart = new Chart(ctx).Line(updateData(result));
				});

				var updateData = function(result) {
					var stockData = {
						labels : result.labels,
						datasets : [
							{
								fillColor : "rgba(172,194,132,0.4)",
								strokeColor : "#ACC26D",
								pointColor : "#fff",
								pointStrokeColor : "#9DB86D",
								data : result.data
							}
						]
					};
					return stockData;
				};
			})();
